.password-view-control {
	position: relative;
	top: 6px;
	left: 2px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/view.svg) 0 0 no-repeat;
}
.password-view-control.no-view {
	background: url(../img/no-view.svg) 0 0 no-repeat;
}